Alexander Nestorov <alexandernst@gmail.com>
Alexander Nestorov <alexandernst@gmail.com> <alexandernst@StupidBox.(none)>

Boris 'billiob' Faure <billiob@gmail.com>
Boris 'billiob' Faure <billiob@gmail.com> <billiob@users.sf.net>
Boris 'billiob' Faure <billiob@gmail.com> <billiob@users.sourceforge.net>
Boris 'billiob' Faure <billiob@gmail.com> <boris.faure@intersec.com>

Jérôme Gagnon-Voyer <gagnonje@gmail.com>
Jérôme Gagnon-Voyer <gagnonje@gmail.com> <germinator@users.sourceforge.net>

Jonatan Pålsson <jonatan.p@gmail.com>
Jonatan Pålsson <jonatan.p@gmail.com> <jonte@debian.(none)>
Jonatan Pålsson <jonatan.p@gmail.com> <jonte@jonte-laptop.(none)>
Jonatan Pålsson <jonatan.p@gmail.com> <jonte@jonte-desktop.(none)>

Luca Dariz <luca.dariz@gmail.com>
Luca Dariz <luca.dariz@gmail.com> <luca@descartes.(none)>

Pablo Castellano <pablog.ubuntu@gmail.com>
Pablo Castellano <pablog.ubuntu@gmail.com> <pablog@src.gnome.org>

Satanas <satanas@infierno.cantv.net>
Satanas <satanas@infierno.cantv.net> <satanas@infierno.(none)>

Youness Alaoui <youness.alaoui@collabora.co.uk>
Youness Alaoui <youness.alaoui@collabora.co.uk> <kakaroto@users.sourceforge.net>


