
/* Elements that are invisible at the begining */

.login,.contact_list,.mainWindow,.chatWindow,.chatMessage{
	display: none;
}

/* general stuff */

/* main elements */

.mainWindow{
	padding: 5px;
	overflow-y: auto;
}

.login{
}

/* contact_list elements */

.contact_list{
	width: 100%;
	text-wrap: none;
	white-space: nowrap;
	overflow-x: hidden;
}
.contact{
        
}
.groupheader{
	background-color: black;
	color: white;
        cursor: pointer;
}

/* chat widget/window elements  */

.chatWindow{
	position: absolute;
	overflow: hidden;
	background-color: white;
	padding: 0px;
	height: 100%;
	width: 100%;
}

.chatWidget{
	height: 100%;
	width: 100%;
}

.chatWidgetConversation{
	overflow-y: auto;
	overflow-x: visible;
	border: solid 1px black;
	height: 70%;
}

.chatMessage{
        white-space: pre-wrap;
        text-wrap: none;
}

.chatTextInput{
	width: 100%;
	height: 100%;
}

.chatBottomDiv{
	height: 30%;
}

.chatResizeDivContainer{
	float: bottom;
	cursor: se-resize;
}

.chatResizeDiv{
	position: absolute;
	bottom: 0px;
	right: 0px;
}